@font-face {
    font-family: euro;
    src: url(../fonts/eurofurence/eurof55.ttf);
}
@font-face {
    font-family: klavika;
    src: url(../fonts/klavika/Klavika\ Bold\ Bold\ OSF.otf);
}
@font-face {
    font-family: lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

/* clear stuff */
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-size: 20px;
}

h2 {
    margin: 0;
}

button:focus {
    border: 0;
    outline: 0;
}

button {
    padding: 0;
}


/* helpers */
.flex {
    display: flex;
}
.justify-center {
    justify-content: center; 
}
.space-between {
    justify-content: space-between; 
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.align-self-start {
    align-self: flex-start;
}
.space-around {
    justify-content: space-around;
}
.center {
    margin: 0 auto;
}
.text-center {
    text-align: left;
}

.container {
    width: 100%;
}
.m-auto {
    margin: auto;
}
/* header */

header {
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #292929;
    color: white;
}

.logo {
    font-family: euro;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

.logo span {
    color: #58c93a;
    letter-spacing: -0.8px;
}

.screen {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    transition: .6s;
}

.screen.open {
    visibility: visible;
    opacity: 0.8;
}

/* modal */
.modal-container {
    display: flex;
    justify-content: center;
}
.modal {
    visibility: hidden;
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 10vh;
    background: linear-gradient(135deg,
     #aebcbf 0%,#6e7774 50%,
     #6e7774 51%,black 100%); 
    
     border: #4f4e4e 1px solid;
    border-radius: 20px;
    z-index: 2;
    opacity: 0;
    transition: .6s;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal span {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.modal span:hover {
    font-weight: bolder;
}
.modal h2 {
    position: relative;
    top: 5%;
    margin-bottom: 100px;
    font-size: 2rem;
    text-transform: capitalize;
}

.modal p {
    padding: 0 10px 0;
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.6rem;
}


.modal input {
    position: relative;
    width: 60%;
    align-self: center;
    font-size: 1.6rem;
    
}

.modal-btn-container {
    width: 100%;
    justify-content: space-around;
}

.modal-btn{
    background-color: transparent;
    border: 2px solid black;
    text-align: center;
    color: white;
    min-width: 20%;
    border-radius: 20px;
    font-family: Lato;
    font-weight: 700;
    padding: 5px 10px;
    transition: .3s;
    cursor: pointer;
    font-size: 1.6rem;
}

.modal-btn:hover{ 
    background-color: black;
    color: white;
    border: 2px solid white;
}
    
/* .top-nav  */

.top-nav-buttons {
    position: fixed;
    width: 80%;
    right: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    background: #292929;
    border-left: 1px solid rgba(98, 98, 98, 0.7);
    transform: translateY(-110%);
    transition: transform .6s;
}

.top-nav-buttons.open {
    transform: translateY(5vh);
    z-index: 2;
}

.top-nav-item {
    height: 22vh;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid white;
    text-transform: capitalize;
    font-family: lato, sans-serif;
    transition: .3s;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d; 
}

.top-nav-item:hover {
    border-bottom: 1px solid #58c93a;
}

.top-nav-item.clicked {
    border-bottom: 1px solid #58c93a;
}

.top-nav-item a {
    color: white;
    text-decoration: none;
    transition: .3s
}

.btn-collapse {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 3rem;
}

.btn-x {
    display: none;
    font-size: 3rem;
    padding-right: 10px;
}

/* main container */

.main-container {
    padding: 0;
}


/* post item */

.post-item {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.post-item:first-child {
    margin-top: 40px;
}

.item-img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
}

.item-sub-container {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;  
}

.item-heading {
    width: 100%;
    text-overflow: ellipsis;
    /* text-justify: newspaper; */
    color: #4f4e4e;
    font-family: Lato;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.84px;
}

.item-text {
    width: 100%;
    text-overflow: ellipsis;
    line-height: 35px;
    color: #606060;
    font-family: Lato;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    margin-bottom: 40px;
}

.item-text p:last-child span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-btn {
    width: 60%;
    height: 40px;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 20px;
    
    color: #c2c1c1;
    font-family: Lato;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.48px;
    text-align: center;
    
    padding: 0 20px 0;
    position: relative; 
    transition: .3s;
    margin: 0 auto;
}




/* bottom nav */
.bot-nav {
    border: 1px #e1e0e0  solid;
    border-top: 0;
    height: 75px;
}

.bot-nav-btn {
    height: 100%;
    color: #818181;
    font-family: Lato;
    font-size: 1.12rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    cursor: pointer;
    transition: .2s;
}

.bot-nav-btn:last-child::after {
    content: "→";
}

.bot-nav-btn:first-child::before {
    content: "←";
}

.bot-nav-btn:hover {
    color: #212121;
}

/* footer */
.footer {
    background-color: #f8f8f8;
    height: 315px;
}

.bot-logo {
    margin-top: 80px;
    margin-bottom: 40px;
}

.copyrights {
    max-width: 524px;
    width: 100%;
    color: #a6a6a6;
    font-family: Lato;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 20px;
    font-family: "Lato - Regular";
    font-weight: 400;
    letter-spacing: 0.39px;
    margin-bottom: 40px;
}

.copyrights span {
color: #939292;
font-family: "Lato - Bold";
font-weight: 700;
letter-spacing: 0.39px;
}

.socials-container {
    width: 230px;
}

.social {
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    color: white;
    cursor: pointer;
}

.klavika {
    font-family: klavika;
    font-weight: bold;
    font-size: 1.25rem;
}

.social:hover {
    background-color: #516fad;
}

.social:last-child {
    margin-left: 10px;
}


@media screen and (min-width: 780px) {
    html {
        font-size: 14px;
    }

    .top-nav.container {
        justify-content: space-around;
    }

    .top-nav-buttons {
        position: static; 
        width: unset;
        right: unset;
        top: unset;
        display: flex;
        flex-direction: row;
        background: none;
        border-left: 1px solid rgba(98, 98, 98, 0.7);
        transform: none;
        transition: none;
    }
    
    .top-nav-item {
        width: 130px;
        height: 130px;
        border-bottom: transparent 7px solid;
        cursor: pointer;
        box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d; 
    }

    .top-nav-item:last-child {
        box-shadow: none;    
    }
    
    .top-nav-item a.clicked {
        color: #58c93a;
    }
    
    .top-nav-item.clicked {
        border-bottom: #58c93a 7px solid; 
    }
    
    .top-nav-item:hover a {
        color: #58c93a;
    }
    
    .top-nav-item:hover {
        border-bottom: #58c93a 7px solid; 
    }
    
    .btn-collapse {
        display: none;
        font-size: 3rem;
    }
    
    .container{
        width: 780px;
    }
    
    .main-container {
        padding: 0 20px 0;
        border: 1px solid #e1e0e0;
    }
    
    .post-item {
        margin-bottom: 80px;
        flex-direction: row;
    }
    
    .item-img {
        width: 52%;
        margin-bottom: 0;
        margin-right: 20px;
    }
    
    .item-sub-container {
        padding-left: 0;
        margin-bottom: 0;
    }
    
    .item-heading {
        text-align: left;
    }
    
    .item-text {
        margin-bottom: auto;
        text-align: left;
    }
    
    .item-btn {
        width: fit-content;
        margin: 0;
        text-align: left;
    }
    
    .item-btn::after {
        content: "→";
        display: none;
        position: absolute;
        right: 20px;
    }

    .item-btn:hover { 
        border: #58c93a 2px solid;
        color: #58c93a;
        cursor: pointer;
        padding-right: 40px;
    }
    
    .item-btn:hover::after {
        display: inline;
    } 

    .bot-nav-btn {
        margin: 0 20px;
    }

    .modal {
        width: 60vw;
        left: 20vw;
        height: 40vh;
        top: 10vh;
    }
    .modal h2 {
        margin-bottom: 20px;
    }
    .modal p {
        font-size: 1.2rem;
    }
}



@media screen and (min-width: 980px) {
    html {
        font-size: 16px;
    }
    
    .top-nav.container {
        justify-content: space-between;
    }

    .top-nav-buttons {
        position: static; 
        width: unset;
        right: unset;
        top: unset;
        display: flex;
        flex-direction: row;
        background: none;
        border-left: 1px solid rgba(98, 98, 98, 0.7);
        transform: none;
        transition: none;
    }

    .top-nav-item {
        width: 130px;
        height: 130px;
        border-bottom: transparent 7px solid;
        cursor: pointer;
        box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d; 
    }

    .top-nav-item a.clicked {
        color: #58c93a;
    }

    .top-nav-item.clicked {
        border-bottom: #58c93a 7px solid; 
    }

    .top-nav-item:hover a {
        color: #58c93a;
    }

    .top-nav-item:hover {
        border-bottom: #58c93a 7px solid; 
    }
    
    .btn-collapse {
        display: none;
        font-size: 3rem;
    }
    
    .container{
        width: 980px;
    }

    .main-container {
        padding: 0 20px 0;
        border: 1px solid #e1e0e0;
    }

    .post-item {
        margin-bottom: 80px;
        width: 900px;
        flex-direction: row;
    }
    
    .item-img {
        width: 52%;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 20px;
    }
    
    .item-sub-container {
        margin-bottom: 0;
        padding-left: 0;
    }
    
    .item-heading {
        text-align: left;
    }
    
    .item-text {
        margin-bottom: auto;
        text-align: left;
    }

    .item-btn {
        width: fit-content;
        margin: 0;
    }

    .bot-nav-btn {
        margin: 0 20px;
    }

    .modal {
        width: 40vw;
        left: 30vw;
        height: 40vh;
        top: 10vh;
    }
}